/* TAG selector */

body 
{
    background: url(../images/bg.png);
}
header{
    margin-bottom: 50px;
}
a{
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none !important;
}
input[type="email"], input[type="password"] {
	padding: 15px;
	width: 100%;
    font-size: 1em;
    font-weight: bold;
	border: 0;
	border-radius: 5px;
	color: #ff7272;
	background-color: #ffb385;
	margin-bottom: 15px;
}

button {
	background-color: #ff7272;
	color: white;
	padding: 15px;
	font-size: 1em;
	border-radius: 5px;
	border: 0;
    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s;	
}
button:hover{
    background-color: #ffb385;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
p{
    font-family: 'Sacramento', cursive !important;
    font-size: 2.3em;
}

/********** Buttons **********/
.btn-order
{
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 10px;
    font-size: 16px;
    color: #ff7272;
    background-color: #ffb385;
    text-decoration: none;
    text-shadow: 2px 2px #333;
}
.btn-order:hover, .btn-order:focus
{
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #ffb385;
    background-color: #ff7272;
}
.btn-success{
    color: #ff7272;
    background-color: #ffb385;
    border-color: #ffb385;
}
.btn-success:hover{
    color: #ffb385;
    background-color: #ff7272;
    border-color: #ff7272;
}
.btn{
    font-size: 13px;
}
.btn-primary{
    color: #ff7272;
    background-color: #ffb385;
    border-color: #ffb385;
    font-weight: bold;
    margin-bottom: 10px;
}
.btn-primary:hover{
    color: #ffb385;
    background-color: #ff7272;
    border-color: #ff7272;
}
.btn-default {
    color: #ff7272;
    background-color: #fae7cb;
    border-color: #fae7cb;
    font-weight: bold;
    text-shadow: 2px 2px #333;
}
.btn-default:hover {
    color: #fae7cb;
    background-color: #ff7272;
    border-color: #ff7272;
}

.btn-default2 {
    color: #ff7272;
    background-color: #fae7cb;
    border-color: #fae7cb;
    font-weight: bold;
    margin-bottom: 10px;
}
.btn-default2:hover {
    color: #fae7cb;
    background-color: #ff7272;
    border-color: #ff7272;
}

.btn-danger {
    color: #fff !important;
    background-color: #d9534f;
    border-color: #d43f3a;
    margin-bottom: 10px;
}
.modifier{
    margin-bottom: 5px;
}
.alert {
	padding: 10px;
	margin: 30px 0;
	color: #fff;
	border-radius: 5px;
}

.success {
    background-color: green;
    color: #fff !important;
}

.error {
	background-color: rgb(197, 17, 26);
}
.deco{
    text-align: center;
}

#identif{
    width: 100%;
    background-color: #fc7e1e;
    font-family: 'Holtwood One SC', sans-serif;
    text-shadow: 2px 2px rgb(51, 51, 51);
}
#identif:hover{
    width: 100%;
    background-color: #f79a55;
}
.help-inline
{
    color: red;
}

/* Fin button*/

/****** Contenu ******/
.site
{
    font-family: 'Holtwood One SC', sans-serif;
}
.co{
    text-align: end;
    margin: 20px 20px 0 0;
}
.cloud_co{
    width: 40px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.cloud_co:hover{
    width: 70px;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
#logo{
    text-align: center;
    padding-bottom: 50px;
    padding-top: 20px;
}
.log{
    text-align: center;
    margin: 20px 20px 0 0;
}
.nav
{
   margin-bottom: 40px;
}
.thumbnail
{
    width: 90%;
    background: #fafafa;
    border: none !important;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
}

#thumb_view{
    width: 100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
#thumb_view:hover{
    width: 103%;
    height: 103%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.caption > h4
{
    color: #ffb385;
    font-size: 30px;
  /*  text-shadow: 2px 2px rgb(51, 51, 51);*/
    text-align: center;
    font-family: 'Patrick Hand', cursive !important;
}
.apercu_date{
    color: #ffb385;
    text-align: center;
    text-shadow: 2px 2px #333;
    z-index: 2;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover
{
    background: #ffb385;
    color: #ff7272;
}
.nav>li>a:focus, .nav>li>a:hover 
{
    color: #ff7272;
    background-color: #eee;
}
.nav>li>a
{
    color: #eee;
    font-size: 15px;
    text-shadow: 2px 2px #333;
    text-align: center;
}
#login-body {
    max-width: 25%;
    margin: auto;
    color: #FAE7CB;
    border-radius: 5px;
    padding: 10px;
    margin-top: 50px;
    text-align: center;
}
#login-body>h2{
    font-family: 'Sacramento', cursive !important;
    text-shadow: 2px 2px #333;

}
#login-body a{
	color:  #f79a55;
}

/*  ADMIN */

.admin
{
    background: #fff;
    padding: 50px;
    border-radius: 10px;
}


.image_view{
    border: solid 3px #fff;
}

.containered {
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  .centered {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.description
{
    background: #fff;
    padding: 16px;
    width: 100%;
    margin-bottom: 60px;

}

/* Responsive mobile */

@media screen and (max-width: 600px) {
   p{
       font-size: 18px;
   }
   .description {
    background: #fff;
    padding: 5px;
    width: 100%;
    margin-bottom: 20px;
}
#login-body {
    max-width: 90%;
 
}
}
